apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.3
imageRepository: registry.cn-beijing.aliyuncs.com/k8s-install

apiServerCertSANs:
- "k8s-master01"
- "k8s-master02"
- "k8s-master03"
- "10.70.13.221"
- "10.70.13.222"
- "10.70.13.223"
- "10.70.13.220"
- "127.0.0.1"

api:
  advertiseAddress: 10.70.13.220
  controlPlaneEndpoint: 10.70.13.220:8443

etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://10.70.13.221:2379"
      advertise-client-urls: "https://10.70.13.221:2379"
      listen-peer-urls: "https://10.70.13.221:2380"
      initial-advertise-peer-urls: "https://10.70.13.221:2380"
      initial-cluster: "k8s-master01=https://10.70.13.221:2380,k8s-master02=https://10.70.13.222:2380,k8s-master03=https://10.70.13.223:2380"
    serverCertSANs:
      - k8s-master01
      - 10.70.13.221
    peerCertSANs:
      - k8s-master01
      - 10.70.13.221

controllerManagerExtraArgs:
  node-monitor-grace-period: 10s
  pod-eviction-timeout: 10s

kubeProxy:
  config:
    mode: ipvs

networking:
  podSubnet: 10.244.0.0/16
